* {
    font-family: Gotham, Arial, sans-serif;
    background-color: var(--pink);
}

:root {
    --brown: #927c70;
    --pink: #EAD1d1;
    --lightB: #d9c7b2
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header h1 {
    align-self: center;
}

header i {
    align-self: center;
    margin-right: 10px;
}

#nav-bar {
    display: flex;
    margin: 0 0 0 auto;
    overflow: auto;
}

#nav-bar ul {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: space-around;
    width: 35vw;
    align-self: center;
}

#nav-bar ul li {
    font-weight: bold;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: var(--brown);
}

#login-btn {
    height: 40%;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    margin-right: 30px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#time {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 10%;
}

#time h2 {
    text-align: center;
    font-size: 100px;
    color: var(--brown);
}