@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

:root {
    --white: #ffffff;
    --brown: #755848;
    --pink: #FFCFCF;
    --lightB: #d9c7b2;
    --darkPink: #F2B1B1;
}

body{
   
   /* background-image: linear-gradient(35deg, var(--pink),  #ffffff);  */ 
    background-image: url('../img/mountain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#icon-section {
    display: flex;
    color: var(--brown);
}

.app-name {
    display: flex;
    align-self: center;
}

#icon{
    display: flex;
    align-self: center;
    margin-right: 10px;
}

#nav-bar {
    display: flex;
    margin: 0 0 0 auto;
    overflow: auto;
}

#nav-bar ul {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: space-around;
    width: 20vw;
    align-self: center;
}

#nav-bar ul li {
    font-weight: bold;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: var(--darkPink);
}

#login-btn {
    height: 40%;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    margin-right: 30px;
    font-weight: bold;
    background-color: var(--darkPink);
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#time {
    /*
    display: flex;
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-top: 10%;
    text-align: center;
    */

    position: absolute;
    width: 323px;
    height: 323px;
    left: 566px;
    top: 316px;

    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: var(--brown);
    margin: auto;
}

#controls {
    position: absolute;
    width: 133.22px;
    height: 33px;
    left: 658px;
    top: 544px;
}

#controls i {
    margin-right: 10px;
    color: var(--lightB);
    font-size: 30px;
}

.reset-icon {
    position: absolute;
    left: 658px;
    right: 52.5%;
    top: 544px;
    bottom: 43.85%;
    background: #D9C7B2;
}

.play-icon {
    position: absolute;
    width: 33px;
    height: 25px;
    left: 740px;
    top: 544px;

    background: #D9C7B2;
    transform: rotate(90deg);
}

.pause-icon {
    position: absolute;
    width: 20.78px;
    height: 26.89px;
    left: 770.44px;
    top: 546.44px;
}