@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

:root {
    --white: #ffffff;
    --brown: #755848;
    --pink: #FFCFCF;
    --lightB: #d9c7b2;
    --darkPink: #F2B1B1;
    --grey: #949494;
}

body{
   
   /* background-image: linear-gradient(35deg, var(--pink),  #ffffff);  */ 
    background-image: url('../img/mountain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#icon-section {
    display: flex;
    color: var(--brown);
}

.app-name {
    display: flex;
    align-self: center;
}

#icon{
    display: flex;
    align-self: center;
    margin-right: 10px;
}

#nav-bar {
    display: flex;
    margin: 0 0 0 auto;
    overflow: auto;
}

#nav-bar ul {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: space-around;
    width: 20vw;
    align-self: center;
}

#nav-bar ul li {
    font-weight: bold;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: var(--darkPink);
}

#login-btn {
    height: 40%;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    margin-right: 30px;
    font-weight: bold;
    background-color: var(--darkPink);
}

.work-state-info {
    text-align: center;
    margin: 13% auto auto auto;
}

.work-state-info #work-state {
    font-size: 30px;
    margin-bottom: 5px;
}

.container {
    background-color: var(--white);
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--lightB);
    align-self: center;
    margin: 10px auto auto auto;
}


#time {
    width: 50%;
    padding: 40px;
    left: 566px;
    top: 316px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--brown);
    margin: auto;
}

div #controls {
    align-self: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#controls i {
    margin-right: 10px;
    color: var(--lightB);
    font-size: 30px;
}

#left-arrow {

    position: absolute;
    left: 5.07%;
    right: 92.78%;
    top: 50.39%;
    bottom: 44.63%;

    color: var(--grey);
    font-size: 40px;
}

#right-arrow {

    position: absolute;
    left: 94.93%;
    right: 2.92%;
    top: 50.39%;
    bottom: 44.63%;

    color: var(--grey);
    font-size: 40px;
}

.reset-icon {
    position: absolute;
    margin-top: 10px;
    background: #D9C7B2;
}

.play-icon {
    position: absolute;
    width: 33px;
    height: 25px;
    left: 740px;
    top: 544px;

    background: #D9C7B2;
    transform: rotate(90deg);
}

.pause-icon {
    position: absolute;
    width: 20.78px;
    height: 26.89px;
    left: 770.44px;
    top: 546.44px;
}

.task-info {
    margin: 20px auto auto auto;
    width: 35%;

    background-color: var(--white);
    padding: 10px;
    align-self: center;

    text-align: center;

    border-radius: 25px;

    box-shadow: 5px 10px 18px #888888;
}

#curr-task {
    font-size: 1.5em;
}

#next-task{
    color: #737373;
}

.task-heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: -5px;
}

#task-input {
    align-self: center;
    margin: 0px auto auto 40%;
    width: 275px;
    box-shadow: 5px 10px 18px #888888;

}

#task-list {
    width: 20%;
	height: auto;
	display: block;
	margin: 10px auto 10% auto;
	color: #F3F3F3;
    padding: 1rem 3rem;
    border-radius: 12px;
    color: black;

    background-color: var(--white)
}

#task {
    height: 500px;
    background-image: url(../img/taskback.png);
    background-repeat: no-repeat;
    background-size: cover;
}