@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/loginback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --white: #ffffff;
    --brown: #755848;
    --pink: #FFCFCF;
    --lightB: #d9c7b2;
    --darkPink: #F2B1B1;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}

#icon-section {
    display: flex;
    color: var(--brown);
}

.app-name {
    display: flex;
    align-self: center;
}

#icon{
    display: flex;
    align-self: center;
    margin-right: 10px;
}

#nav-bar {
    display: flex;
    margin: 0 0 0 auto;
    overflow: auto;
}

#nav-bar ul {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: space-around;
    width: 20vw;
    align-self: center;
}

#nav-bar ul li {
    font-weight: bold;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: var(--darkPink);
}

.greeting h1{

    width: 100%;
    height: 74px;
    margin-top: 10%;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    line-height: 84px;
    letter-spacing: 0.06em;
    margin-bottom: -30px;

    color: #383F4B;
}

.greeting h2{

    width: 100%;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 37px;
    letter-spacing: 0.06em;
    margin-top: 20px;

    color: #383F4B;
}

#username {
    background: #FFFFFF;
    border-radius: 12px;
}

#sign-in-btn{

    width: 100%;
    margin-top: 10px;
    height: 5em;
    align-self: center;

    background: #F2B1B1;
    border-radius: 12px;
}

#username {
    width: 100%;
    height: 40px;
}

#password {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
}

#sign-in-form {
    max-width:30%;
	height: auto;
	display: block;
	margin: 0 auto;
	color: #F3F3F3;
    padding: 1rem 3rem;
    
    background: linear-gradient(0deg, #FFFFFF -40.2%, rgba(255, 255, 255, 0) 0%), #FFDCDC;
    border-radius: 37px;
}

#sign-in-form p {
    text-align: center;
    color: black;
    font-size: .5em;
}

#started-btn {
   
    width: 100%;
    height: 5em;
    align-self: center;

    background: #F2B1B1;
    border-radius: 12px;
}

#login-btn {
    height: 40%;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    margin-right: 30px;
    font-weight: bold;
    background-color: var(--darkPink);
}

