@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

:root {
    --white: #ffffff;
    --brown: #755848;
    --pink: #FFCFCF;
    --lightB: #d9c7b2;
}

h1{
    position: absolute;
    width: 590px;
    height: 74px;
    left: 1014px;
    top: 325px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: 0.06em;

    color: #383F4B;
}

h2{
    position: absolute;
    width: 332px;
    height: 42px;
    left: 1109px;
    top: 425px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.06em;

    color: #383F4B;
}

#input{
    position: absolute;
    width: 128px;
    height: 34px;
    left: 1009px;
    top: 554px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    color: #C4C4C4;
}

#create{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 602px;
    top: 600px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #383F4B;
}

#sign-in-form {
    background-color: var(--pink);
}





